@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*Configuraciones generales de la página*/
* { box-sizing: border-box; }

body
{
	margin: 0;
	color: #4D4D4D;
	background: #E4E4E4;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

.contenedor 
{
	position: fixed;
	margin: 0px auto;
	width: 90%;
	max-width: 900px;
	position: relative;
}

/*Configuraciones del Header de la página*/

header
{
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background-color: #323232;
	padding: 2em 0;
}

header a
{
	color: whitesmoke;
	float: right;
	padding: .3125rem 0.9375rem;
	font-size: 1.3em;
	background-color: #414141;
	text-decoration: none;
	border-radius: .3125rem;
	-webkit-border-radius-: .3125rem;
	-moz-border-radius-:  -3125rem;
	cursor: pointer;
}

header a:hover 
{
	background-color: #73C728;
	color: #E4E4E4;
}

/*Configuraciones del cuerpo principal de la página*/
main
{
	padding: 2rem 0 6rem;
	min-height: calc(100vh);
	margin-bottom: 3rem;
	align-content: center;
}

/*Banner con los escudos de las instituciones*/
.logos
{
	display: flex;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	height: fit-content;
}

.imagen
{
	display: block;
	margin: .3125rem;
	max-width: 200px;
	height: auto;
}

.contenedor-principal .imagen img
{
	width: 100%;
	height: auto;
}

.titulos
{
	text-align: center;
	height: 100%;
	width: auto;
}

/*Estilos para el contenido principal de la página*/
p
{
	text-align: justify;
	letter-spacing: .05rem;
	line-height: 1.5rem;
}

.form
{
	display: flex;
	justify-content: center;
	align-items: center;
}

form
{
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: 3em 0;
}

input[type="text"], .botones
{
	width: 18.75rem;
	display: flex;
	justify-content: center;
}

input[type="text"]
{
	padding: 4px;
}

input[type="text"]
{
	background-color: #FFF;
	border: 1px solid #B1B1B1;
	font-family: 'Montserrat', Helvetica, sans-serif;
}

button
{
	width: 9.375rem;
	margin: 1rem .375rem;
	color: #FFF;
	font-size: 16px;
	background-color: #323232;
	padding: .8em .4em;
	border: none;
	text-transform: uppercase;
	border-radius: .3125rem;
}

button:hover
{
    color: #000;
    background-color: #73C728;
		cursor: pointer;
		border: none;;
}

/*Configuraciones del footer de la página*/
footer
{
	background-color: #323232;
	padding: 2rem 0;
	color: #E4E4E4;
	margin-top: -6rem;
	clear: both;
}

.contenido-footer
{
	display: flex;
	justify-content: space-around;
	align-content: center;
	padding: 0px;
	height: fit-content;
}

.contenido-footer section
{
	align-content: center;
	align-self: flex-start;
}

section > ul 
{
	margin-left: 0;
	padding-left: 0px;
	list-style-type: circle;
}

li
{
	margin: 3px 0;
	text-align: initial;
} 

.contenido-footer section
{
	width: 35%;
	font-size: 1rem;
}


/*Responsive design*/
@media screen and (max-width: 700px)
{
	.contenido-footer
	{
		flex-wrap: wrap;	
	}
	.contenido-footer p
	{
		text-align: left;
	}

	.logos .titulos h1,h2
	{
		font-size: 1em;
	}
	
	.logos .titulos
	{
		height: -50%;
	}
}